@import "reset.css";

// foundation
@import 'color';

// font
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


@keyframes loading {
  0% {
    stroke-dashoffset: 157;
  }

  75% {
    stroke-dashoffset: -147;
  }

  100% {
    stroke-dashoffset: -157;
  }
}

@keyframes loading_spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes wave_reverse {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}



.before_load {
  .loading {
    opacity: 1;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: $white;
  opacity: 0;
  transition: 0.5s;

  .loading_circle {
    width: 54px;
    height: 54px;
    animation: loading_spin 3s infinite;

    circle {
      stroke: $danu_blue_60;
      stroke-width: 4;
      stroke-dasharray: 157;
      stroke-dashoffset: -157;
      fill: none;
      animation: loading 1s infinite;

    }
  }
}

body {
  color: $gray_120;
  line-height: 1.2;
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
  word-wrap: break-word;
  font-weight: 400;
}

*{
  box-sizing: border-box;
  outline: none !important;
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  height: 100%;

  .top-visual {
    width: 100%;
    height: 100vh;
    position: relative;
    transition: 1s ease;
    background: $gray_120;
    overflow-y: auto;
    overflow-x: hidden;

    .wave-txt {
      display: flex;
      flex-direction: column;

      .reverse {
        animation: wave_reverse 40s infinite linear !important;

        h1 {
          color: $purple_40 !important;

          em {
            display: block;
            height: fit-content;
          }
        }
      }

      .wave {
        position: relative;
        display: flex;
        flex-shrink: 0;
        animation: wave 40s infinite linear;
        width: 100%;

        h1 {
          font-family: 'Anton', sans-serif;
          font-size: 21vh;
          font-weight: 500;
          text-transform: uppercase;
          transition: 1s ease .3s;
          position: relative;
          top:0;
          white-space: nowrap;
          margin:0;
          line-height: .9;
          color: $blue_40;

          em {
            display: block;
            height: fit-content;
          }
        }
      }

    
    }
  }
}