@import "reset.css";

// foundation
@import 'color';

// font
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=IBM+Plex+Sans:wght@300;500&display=swap');


@keyframes loading {
  0% {
    stroke-dashoffset: 157;
  }

  75% {
    stroke-dashoffset: -147;
  }

  100% {
    stroke-dashoffset: -157;
  }
}

@keyframes loading_spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes wave_reverse {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes change {

  0% {
      transform: translate3d(0,0,0);
  }

  10% {
      transform: translate3d(0,0,0);
  }

  25% {
      transform: translate3d(0,-118%,0);
  }

  35% {
      transform: translate3d(0,-118%,0);
  }

  50% {
      transform: translate3d(0,-233%,0);
  }

  60% {
      transform: translate3d(0,-233%,0);
  }

  75% {
      transform: translate3d(0,-118%,0);
  }

  85% {
      transform: translate3d(0,-118%,0);
  }

  95% {
      transform: translate3d(0,0,0);
  }

  100% {
      transform: translate3d(0,0,0);
  }
}


// responsive
@media (min-width: 1024px) and (max-width: 1399px) {

  .kv-sticker {

    .sticker {

      h2 {
        font-size: 10vw !important;
      }
    }
  }

  .obj1 {
    width: 22vw !important;
    height: 16vh !important;
    left: 6vw;
    top: 13vh;
  }

  .obj2 {
    width: 51vw !important;
    height: 16vh !important;
    left: 40vw !important;
    top: 30vh !important;
  }

  .obj3 {
    width: 27vw !important;
    height: 16vh !important;
    left: 61vw !important;
    top: 14vh !important;
  }

  .obj4 {
    width: 33vw !important;
    height: 16vh !important;
    left: 38vw !important;
    top: 55vh !important;
  }

  .obj5 {
    width: 43vw !important;
    height: 16vh !important;
    left: 3vw !important;
    top: 55vh !important;
  }

  .header {
    padding: 0 40px !important;
  }

  .more-projects {
    padding: 60px 40px !important;
  }

  .table-contents {
    display: none !important;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {

  .kv-sticker {

    .sticker {

      h2 {
        font-size: 12vw !important;
      }
    }
  }

  .obj1 {
    width: 26vw !important;
    height: 16vh !important;
    left: 6vw;
    top: 13vh;
  }

  .obj2 {
    width: 59vw !important;
    height: 16vh !important;
    left: 32vw !important;
    top: 30vh !important;
  }

  .obj3 {
    width: 30vw !important;
    height: 16vh !important;
    left: 56vw !important;
    top: 14vh !important;
  }

  .obj4 {
    width: 37vw !important;
    height: 16vh !important;
    left: 46vw !important;
    top: 55vh !important;
  }

  .obj5 {
    width: 47vw !important;
    height: 16vh !important;
    left: 6vw !important;
    top: 57vh !important;
  }

  .thum-container {

    .thum-area {

      .rows {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .thum-item {
          width: 48% !important;
          display: flex;
          flex-direction: column;
          margin-right: 16px;
          margin-bottom: 16px;

          &:nth-child(2) {
            margin-right: 0 !important;
          }
          
          .thum-con {
            transition: all 0.2s ease-out;

            .thum-img {

              &:hover {
                .into-img {
                  opacity: 0 !important;
                  bottom: 0 !important;
                }
              }
            }

            .thum-text {
              display: flex !important;
              padding: 16px 0 !important;
              flex-direction: column;
              width: 100%;
            }
          }
        }
      }
    }
  }

  .header {
    padding: 0 40px !important;
  }

  .sec-detail {
    width: 100% !important;
    padding: 80px 40px !important;

    &.headline {
      &:after {
        left: 0 !important;
        right: 0 !important;
        height: 1px;
        background-color: $gray_10;
      }
    }

    .title {
      max-width: 100% !important;
      min-width: 100% !important;
      font-size: 40px !important;
    }

    h4 {
      font-size: 32px !important;
      max-width: 100% !important;
    }

    .summary {

      dl {
        width: 50% !important;
      }
    }
  }

  .sub-img {
    height: 100% !important;

    img {
      height: auto !important;
      width: 100% !important;
    }
  }

  .more-projects {
    padding: 60px 40px !important;
  }

  .top-visual {

    .blue {
      flex-direction: column !important;

      .main_text {
        margin-right: 0 !important;
        margin-bottom: 16px;
      }
    }
  }

  .table-contents {
    display: none !important;
  }

}

@media (max-width: 767px) {

  .wave {

    h1 {
      font-size: 21vh !important;
    }
  }

  .kv-sticker {

    .sticker {
      border-radius: 14px !important;

      h2 {
        font-size: 16vw !important;
      }
    }
  }

  .obj1 {
    width: 33vw !important;
    height: 11vh !important;
    left: 6vw;
    top: 13vh;
  }

  .obj2 {
    width: 79vw !important;
    height: 11vh !important;
    left: 15vw !important;
    top: 30vh !important;
  }

  .obj3 {
    width: 40vw !important;
    height: 11vh !important;
    left: 52vw !important;
    top: 14vh !important;
  }

  .obj4 {
    width: 48vw !important;
    height: 11vh !important;
    left: 46vw !important;
    top: 55vh !important;
  }

  .obj5 {
    width: 63vw !important;
    height: 11vh !important;
    left: 6vw !important;
    top: 54vh !important;
  }

  .thum-container {

    .thum-area {

      .rows {
        flex-direction: column;

        .thum-item {
          width: 100% !important;
          display: flex;
          flex-direction: column;
          margin-right: 0 !important;
          margin-bottom: 16px;

          &:nth-child(2) {
            margin-right: 0 !important;
          }
          
          .thum-con {
            transition: all 0.2s ease-out;

            .thum-img {

              &:hover {
                .into-img {
                  opacity: 0 !important;
                  bottom: 0 !important;
                }
              }
            }

            .thum-text {
              display: flex !important;
              padding: 16px 0 !important;
              flex-direction: column;
              width: 100%;
            }
          }
        }
      }
    }
  }

  .header {
    padding: 0 24px !important;
  }

  .hero-pc {
    display: none !important;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .hero-mo {
    display: flex !important;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .sec-detail {
    width: 100% !important;
    padding: 60px 24px !important;

    &.headline {
      &:after {
        left: 0 !important;
        right: 0 !important;
        height: 1px;
        background-color: $gray_10;
      }
    }

    .title {
      max-width: 100% !important;
      min-width: 100% !important;
      font-size: 40px !important;
    }

    h4 {
      font-size: 32px !important;
      max-width: 100% !important;
    }

    .summary {

      dl {
        width: 50% !important;

        &:nth-child(2) {
          padding-right: 0 !important;
        }

        &:nth-child(4) {
          padding-right: 0 !important;
        }

        &:nth-child(6) {
          padding-right: 0 !important;
        }

        &:nth-child(1) {
          padding-right: 10% !important;
        }

        &:nth-child(3) {
          padding-right: 10% !important;
        }

        &:nth-child(5) {
          padding-right: 10% !important;
        }
      }
    }
  }

  .sub-img {
    height: 100% !important;

    img {
      height: auto !important;
      width: 100% !important;
    }
  }

  .more-projects {
    padding: 60px 24px !important;

    .other-project {

      .text-direction{

      }

      h4 {
        font-size: 18px !important;

        &.pre-project-name {
          margin-left: 0 !important;
        }
  
        &.next-project-name {
          margin-right: 0 !important;
        }
      }
    }
  }

  .top-visual {

    .blue {
      flex-direction: column !important;
      padding: 24px;

      .main_text {
        margin-right: 0 !important;
        margin-bottom: 16px;
        font-size: 54px !important;
        line-height: 1;
      }

      ul {
        font-size: 54px !important;
      }
    }
  }

  .table-contents {
    display: none !important;
  }

  .content-wrap {

    .content-inner {
      display: flex;
      flex-direction: column;
      max-width: 1024px;
      padding: 92px 24px 40px 24px !important;

      &.same-con {
        padding-top: 40px !important;
      }

      h2 {
        font-size: 28px !important;
      }

      h3 {
        font-size: 20px !important;
      }

      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6;
        color: $gray_70;
        margin-top: 12px;
        font-family: 'IBM Plex Sans', sans-serif;
      }
    }

    .content-img {
      width: 88%;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}





.before_load {
  .loading {
    opacity: 1;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: $white;
  opacity: 0;
  transition: 0.5s;

  .loading_circle {
    width: 54px;
    height: 54px;
    animation: loading_spin 3s infinite;

    circle {
      stroke: $danu_blue_60;
      stroke-width: 4;
      stroke-dasharray: 157;
      stroke-dashoffset: -157;
      fill: none;
      animation: loading 1s infinite;

    }
  }
}

body {
  color: $gray_120;
  line-height: 1.2;
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
  word-wrap: break-word;
  font-weight: 400;
}

*{
  box-sizing: border-box;
  outline: none !important;
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  height: 100%;
  background: $gray_120;

  .top-visual {
    width: 100%;
    height: 100%;
    position: relative;
    transition: 1s ease;
    background: $gray_120;
    overflow-y: hidden;
    overflow-x: hidden;

    .wave-txt {
      display: flex;
      flex-direction: column;

      .reverse {
        animation: wave_reverse 40s infinite linear !important;

        h1 {
          color: $yellow_20 !important;

          em {
            display: block;
            height: fit-content;
          }
        }
      }

      .wave {
        position: relative;
        display: flex;
        flex-shrink: 0;
        animation: wave 40s infinite linear;
        width: 100%;

        h1 {
          font-family: 'Anton', sans-serif;
          font-size: 22vh;
          font-weight: 500;
          text-transform: uppercase;
          transition: 1s ease .3s;
          position: relative;
          top:0;
          white-space: nowrap;
          margin:0;
          line-height: .9;
          color: $blue_50;

          em {
            display: block;
            height: fit-content;
          }
        }
      }

    
    }

    .kv-sticker {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      object-fit: cover;

      .sticker {
        background: rgba( 255, 255, 255, 0.15 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 16px );
        border-radius: 28px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );

        h2 {
          font-size: 8vw;
          font-family: 'Anton', sans-serif;
          font-weight: 400;
          color: white;
          text-transform: uppercase;
        }
      }

      .obj1 {
        width: 15vw;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotate(-15deg);
        position: absolute;
        left: 6vw;
        top: 13vh;
      }

      .obj2 {
        width: 38vw;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotate(15deg);
        position: absolute;
        left: 40vw;
        top: 30vh;
      }

      .obj3 {
        width: 19vw;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotate(30deg);
        position: absolute;
        left: 71vw;
        top: 14vh;
      }

      .obj4 {
        width: 23vw;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotate(-30deg);
        position: absolute;
        left: 38vw;
        top: 55vh;
      }

      .obj5 {
        width: 31vw;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotate(-50deg);
        position: absolute;
        left: 3vw;
        top: 48vh;
      }
    }
  }

  .thum-container {
    width: 100%;
    height: 100%;
    padding: 16px;

    .thum-area {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      justify-content: center;

      .rows {
        display: flex;
        justify-content: center;

        &:last-child {
          margin-bottom: 0;
        }

        .thum-item {
          width: 25%;
          display: flex;
          flex-direction: column;
          margin-right: 16px;
          margin-bottom: 16px;

          &:last-child {
            margin-right: 0;
          }

          .thum-con {
            transition: all 0.2s ease-out;

            .thum-img {
              width: 100%;
              background-size: contain;
              overflow: hidden;
              transition: all 0.2s ease-out;
              position: relative;

              img {
                width: 100%;
                height: 100%;
                opacity: 1;
                background-size: contain;
                vertical-align: bottom;
                transition: all 0.5s ease-out;
              }

              .into-img {
                position: absolute;
                display: flex;
                flex-direction: column;
                bottom: -80px;
                z-index: 1;
                left: 0;
                opacity: 0;
                background: rgb(0, 0, 0, 0.4);
                width: 100%;
                height: 80px;
                padding: 16px;
                transition-property: all;
                transition-duration: 0.4s;
                transition-delay: 0.08s;
              }

              &:hover {
                .into-img {
                  opacity: 1;
                  bottom: 0 !important;
                }
              }
            }

            .thum-text {
              display: none;
              padding: 16px;
              
              h4 {
                color: white;
                font-size: 20px;
                margin-bottom: 4px;
              }

              span {
                color: white;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;

  p {
    font-size: 14px;

    &.dark {
      color: $gray_20;
    }

    &.light {
      color: $gray_80;
    }
  }
}

.con {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    opacity: 0;
  }

  .section_on {
    opacity: 1 !important;
    transform:  translateZ(0) !important;
    transition: transform 1.5s, opacity 1.5s !important; 
  }

  .top-visual {
    width: 100%;
    height: 100vh;
    background: $gray_120;
    display: flex;
    justify-content: center;

    .link-area {
      display: flex;
      justify-content: flex-end;
      position: fixed;
      right: 0;
      bottom: 0;
      z-index: 5;
      width: 172px;
      height: 41px;
    }

    .out-link {
      padding: 8px 24px;
      position: fixed;
      bottom: 0;
      background: $white;
      display: flex;
      align-items: center;
      transition: all .2s ease-out;

      span {
        font-size: 14px;
        color: $gray_110;
        margin-right: 8px;
      }

      svg {
        transition: all .2s ease-out;
      }

      &:hover {
        svg {
          transform: translateX(5px);
        }
      }
    }

    .hero-pc {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
    }

    .hero-mo {
      display: none;
      height: 100%;
      justify-content: center;
      align-items: center;
    }

    .blue {
      background: $danu_blue_60;
      width: 100%;
      height: 100%;

      span {
        color: white;
        font-size: 60px;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 300;

        &.main_text {
            margin-right: 24px;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        font-size: 60px;
        font-weight: 600;
        color: white;
        height: 78px;
        overflow: hidden;
        padding-top: 5px;

        li {
            animation: change 10s infinite;
            margin-bottom: 10px;
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: 700;
        }
    }
    }

    img {
      height: 100%;
      width: 100%;
      background-size: contain;
      object-fit: cover;
    }
  }

  .sec-detail {
    max-width: 1024px;
    padding: 92px;
    position: relative;
    transition: all .2s ease-out;

    &.headline {
      &:after {
        content: "";
        position: absolute;
        left: 92px;
        bottom: 0;
        right: 92px;
        z-index: 5;
        height: 1px;
        background-color: $gray_10;
      }
    }

    .title {
      max-width: 1024px;
      min-width: 1024px;
      font-size: 60px;
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: -2px;
      color: $gray_110;
      word-break: keep-all;
      white-space: pre-line;
    }

    h4 {
      font-size: 44px;
      font-weight: 400;
      color: $gray_110;
      max-width: 1024px;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      color: $gray_60;
      margin-top: 24px;
      line-height: 1.6;
    }

    span {
      font-size: 14px;
      font-weight: 400;
      color: $gray_110;
    }

    .summary {
      display: flex;
      margin-top: 40px;
      min-height: 78px;
      flex-wrap: wrap;

      dl {
        padding-right: 4%;
        width: 33.3%;
        margin-top: 24px;

        &:nth-child(3) {
          padding-right: 0;
        }

        &:nth-child(6) {
          padding-right: 0;
        }

        dt {
          font-size: 14px;
          font-weight: 700;
          letter-spacing: -.1px;
          line-height: 24px;
          color: $gray_50;
          vertical-align: top;
        }

        dd {
          font-weight: 400;
          display: flex;
          margin-top: 8px;
          font-size: 14px;
          line-height: 1.4;
          
          span {
            min-width: 28px;
            max-width: 28px;
            margin-right: 8px;

            img {
              min-width: 28px;
              max-width: 28px;
            }
          }
        }
      }
    }
  }

  .sub-img {
    width: 100%;
    height: 100vh;
    transition: all .2s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;

    &.black {
      background: $gray_120;
    }

    img {
      height: 100%;
      background-size: contain;
    }
  }

  .detail-img {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      background-size: contain;
      width: 100%;
      height: 100%;
    }
  }

  .more-projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 80px;
    transition: all .2s ease-out;

    .other-project {
      display: flex;
      flex-direction: column;
      width: 50%;
      transition: all .2s ease-out;

      &.next {
        align-items: flex-start;
      }

      &.prev {
        align-items: flex-end;
      }

      .text-direction {
        display: flex;
        align-items: center;

        svg {
          color: $gray_100;
          width: 24px;
          height: 24px;
          transition: all .2s ease-out;
        }

        h5 {
          font-size: 16px;
          font-weight: 400;
          color: $gray_110;

          &.pre-text {
            margin-right: 12px;
          }

          &.next-text {
            margin-left: 12px;
          }
        }
      }

      h4 {
        font-size: 20px;
        font-weight: 300;
        color: $gray_110;
        margin-top: 8px;

        &.pre-project-name {
          margin-right: 35px;
        }

        &.next-project-name {
          margin-left: 35px;
          text-align: right;
        }
      }
    }

    .next {

      &:hover {
        .text-direction {

          svg {
  
            &.next-svg {
              transform: translateX(-5px);
            }
          }
        }

        h4 {

          text-decoration: underline;
          text-underline-position: under;
          text-decoration-color: $gray_110;
          text-decoration-thickness: 1px;
        }
      }
    }

    .prev {

      &:hover {
        .text-direction {

          svg {
  
            &.pre-svg {
              transform: translateX(5px);
            }
          }
        }

        h4 {

          text-decoration: underline;
          text-underline-position: under;
          text-decoration-color: $gray_110;
          text-decoration-thickness: 1px;
        }
      }
    }
  }


  // 디자인시스템
  .table-contents {
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 1780px;
    margin: 0 auto;
    transition: all 0.2s ease-out;
    z-index: 1;

    .contents-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: absolute;
      right: 0;
      flex-direction: column;
      top: 60px;

      a {
        color: $gray_120;
        font-size: 14px;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 500;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 8px 20px;
        border-left: 2px solid $gray_20;

        &:hover {
          color: $danu_blue_60;
          font-weight: 700;
          border-left: 2px solid $danu_blue_60;
        }

        &.active {
          color: $danu_blue_60;
          font-weight: 700;
          border-left: 2px solid $danu_blue_60;
        }
      }

    }
  }

  .content-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    &.gray {
      background: $gray_0;
    }

    .content-inner {
      display: flex;
      flex-direction: column;
      max-width: 1024px;
      padding: 92px 92px 60px 92px;

      h2 {
        font-size: 32px;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: -2px;
        color: $gray_110;
        font-family: 'IBM Plex Sans', sans-serif;
      }

      h3 {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: -2px;
        color: $gray_110;
        margin-top: 24px;
        font-family: 'IBM Plex Sans', sans-serif;
      }

      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6;
        color: $gray_70;
        margin-top: 12px;
        font-family: 'IBM Plex Sans', sans-serif;
      }
    }

    .content-img {
      max-width: 1024px;
      display: flex;
      align-items: center;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 92px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: all 0.5s ease;
  z-index: 10;

  &.hidden {
    top: -60px;
  }

  &.white-bg {
    background-color: white;

    .go-home {
      color: $gray_110 !important;
    }
  }

  .go-home {
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;;
    font-weight: 500;
    color: white;
  }
}

.gototop {
  width: 52px;
  height: 52px;
  background: rgba($color: $gray_120, $alpha: 0.7);
  border: none;
  border-radius: 999px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 998;

  &.show {
    opacity: 1;
  }

  svg {
    
    path {
      fill: white;
    }
  }
}