@import "reset.css";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=IBM+Plex+Sans:wght@300;500&display=swap");
@keyframes loading {
  0% {
    stroke-dashoffset: 157;
  }
  75% {
    stroke-dashoffset: -147;
  }
  100% {
    stroke-dashoffset: -157;
  }
}
@keyframes loading_spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes wave {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes arrow-next {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes wave_reverse {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes change {
  0% {
    transform: translate3d(0, 0, 0);
  }
  10% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(0, -118%, 0);
  }
  35% {
    transform: translate3d(0, -118%, 0);
  }
  50% {
    transform: translate3d(0, -233%, 0);
  }
  60% {
    transform: translate3d(0, -233%, 0);
  }
  75% {
    transform: translate3d(0, -118%, 0);
  }
  85% {
    transform: translate3d(0, -118%, 0);
  }
  95% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@media (min-width: 1024px) and (max-width: 1399px) {
  .obj7 {
    left: 66vw !important;
    top: 58vh !important;
  }
  .kv-sticker .sticker h2 {
    font-size: 10vw !important;
  }
  .obj1 {
    width: 22vw !important;
    height: 16vh !important;
    left: 6vw;
    top: 13vh;
  }
  .obj2 {
    width: 51vw !important;
    height: 16vh !important;
    left: 40vw !important;
    top: 30vh !important;
  }
  .obj3 {
    width: 27vw !important;
    height: 16vh !important;
    left: 61vw !important;
    top: 14vh !important;
  }
  .obj4 {
    width: 33vw !important;
    height: 16vh !important;
    left: 38vw !important;
    top: 55vh !important;
  }
  .obj5 {
    width: 43vw !important;
    height: 16vh !important;
    left: 3vw !important;
    top: 55vh !important;
  }
  .header {
    padding: 0 40px !important;
  }
  .more-projects {
    padding: 60px 40px !important;
  }
  .table-contents {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .obj6 {
    width: 120px;
    height: 120px;
    left: 19vw;
    top: 24vh;
  }
  .obj6 .material-symbols-outlined {
    width: 80px;
    height: 80px;
    font-size: 80px;
  }
  .obj7 {
    width: 140px !important;
    height: 140px !important;
    left: 71vw !important;
    top: 65vh !important;
  }
  .obj7 .material-symbols-outlined {
    width: 100px !important;
    height: 100px !important;
    font-size: 100px !important;
  }
  .kv-sticker .sticker h2 {
    font-size: 12vw !important;
  }
  .obj1 {
    width: 26vw !important;
    height: 16vh !important;
    left: 6vw;
    top: 13vh;
  }
  .obj2 {
    width: 59vw !important;
    height: 16vh !important;
    left: 32vw !important;
    top: 30vh !important;
  }
  .obj3 {
    width: 30vw !important;
    height: 16vh !important;
    left: 56vw !important;
    top: 14vh !important;
  }
  .obj4 {
    width: 37vw !important;
    height: 16vh !important;
    left: 46vw !important;
    top: 55vh !important;
  }
  .obj5 {
    width: 47vw !important;
    height: 16vh !important;
    left: 6vw !important;
    top: 57vh !important;
  }
  .thum-container .thum-area .rows {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .thum-container .thum-area .rows .thum-item {
    width: 48% !important;
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    margin-bottom: 16px;
  }
  .thum-container .thum-area .rows .thum-item:nth-child(2) {
    margin-right: 0 !important;
  }
  .thum-container .thum-area .rows .thum-item .thum-con {
    transition: all 0.2s ease-out;
  }
  .thum-container .thum-area .rows .thum-item .thum-con .thum-img:hover .into-img {
    opacity: 0 !important;
    bottom: 0 !important;
  }
  .thum-container .thum-area .rows .thum-item .thum-con .thum-text {
    display: flex !important;
    padding: 16px 0 !important;
    flex-direction: column;
    width: 100%;
  }
  .header {
    padding: 0 40px !important;
  }
  .sec-detail {
    width: 100% !important;
    padding: 80px 40px !important;
  }
  .sec-detail.headline:after {
    left: 0 !important;
    right: 0 !important;
    height: 1px;
    background-color: #E2E2E2;
  }
  .sec-detail .title {
    max-width: 100% !important;
    min-width: 100% !important;
    font-size: 40px !important;
  }
  .sec-detail h4 {
    font-size: 32px !important;
    max-width: 100% !important;
  }
  .sec-detail .summary dl {
    width: 50% !important;
  }
  .sub-img {
    height: 100% !important;
  }
  .sub-img img {
    height: auto !important;
    width: 100% !important;
  }
  .more-projects {
    padding: 60px 40px !important;
  }
  .top-visual .blue {
    flex-direction: column !important;
  }
  .top-visual .blue .main_text {
    margin-right: 0 !important;
    margin-bottom: 16px;
  }
  .table-contents {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .obj6 {
    width: 60px !important;
    height: 60px !important;
    left: 28vw !important;
    top: 3vh !important;
  }
  .obj6 .material-symbols-outlined {
    width: 40px !important;
    height: 40px !important;
    font-size: 40px !important;
  }
  .obj7 {
    width: 90px !important;
    height: 90px !important;
    left: 18vw !important;
    top: 37vh !important;
  }
  .obj7 .material-symbols-outlined {
    width: 80px !important;
    height: 80px !important;
    font-size: 80px !important;
  }
  .wave h1 {
    font-size: 21vh !important;
  }
  .kv-sticker .sticker {
    border-radius: 14px !important;
  }
  .kv-sticker .sticker h2 {
    font-size: 16vw !important;
  }
  .obj1 {
    width: 33vw !important;
    height: 11vh !important;
    left: 6vw;
    top: 13vh;
  }
  .obj2 {
    width: 79vw !important;
    height: 11vh !important;
    left: 15vw !important;
    top: 30vh !important;
  }
  .obj3 {
    width: 40vw !important;
    height: 11vh !important;
    left: 52vw !important;
    top: 14vh !important;
  }
  .obj4 {
    width: 48vw !important;
    height: 11vh !important;
    left: 46vw !important;
    top: 55vh !important;
  }
  .obj5 {
    width: 63vw !important;
    height: 11vh !important;
    left: 6vw !important;
    top: 54vh !important;
  }
  .thum-container .thum-area .rows {
    flex-direction: column;
  }
  .thum-container .thum-area .rows .thum-item {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    margin-right: 0 !important;
    margin-bottom: 16px;
  }
  .thum-container .thum-area .rows .thum-item:nth-child(2) {
    margin-right: 0 !important;
  }
  .thum-container .thum-area .rows .thum-item .thum-con {
    transition: all 0.2s ease-out;
  }
  .thum-container .thum-area .rows .thum-item .thum-con .thum-img:hover .into-img {
    opacity: 0 !important;
    bottom: 0 !important;
  }
  .thum-container .thum-area .rows .thum-item .thum-con .thum-text {
    display: flex !important;
    padding: 16px 0 !important;
    flex-direction: column;
    width: 100%;
  }
  .header {
    padding: 0 24px !important;
  }
  .hero-pc {
    display: none !important;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .hero-mo {
    display: flex !important;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .sec-detail {
    width: 100% !important;
    padding: 60px 24px !important;
  }
  .sec-detail.headline:after {
    left: 0 !important;
    right: 0 !important;
    height: 1px;
    background-color: #E2E2E2;
  }
  .sec-detail .title {
    max-width: 100% !important;
    min-width: 100% !important;
    font-size: 40px !important;
  }
  .sec-detail h4 {
    font-size: 32px !important;
    max-width: 100% !important;
  }
  .sec-detail .summary dl {
    width: 50% !important;
  }
  .sec-detail .summary dl:nth-child(2) {
    padding-right: 0 !important;
  }
  .sec-detail .summary dl:nth-child(4) {
    padding-right: 0 !important;
  }
  .sec-detail .summary dl:nth-child(6) {
    padding-right: 0 !important;
  }
  .sec-detail .summary dl:nth-child(1) {
    padding-right: 10% !important;
  }
  .sec-detail .summary dl:nth-child(3) {
    padding-right: 10% !important;
  }
  .sec-detail .summary dl:nth-child(5) {
    padding-right: 10% !important;
  }
  .sub-img {
    height: 100% !important;
  }
  .sub-img img {
    height: auto !important;
    width: 100% !important;
  }
  .more-projects {
    padding: 60px 24px !important;
  }
  .more-projects .other-project h4 {
    font-size: 18px !important;
  }
  .more-projects .other-project h4.pre-project-name {
    margin-left: 0 !important;
  }
  .more-projects .other-project h4.next-project-name {
    margin-right: 0 !important;
  }
  .top-visual .blue {
    flex-direction: column !important;
    padding: 24px;
  }
  .top-visual .blue .main_text {
    margin-right: 0 !important;
    margin-bottom: 16px;
    font-size: 54px !important;
    line-height: 1;
  }
  .top-visual .blue ul {
    font-size: 54px !important;
  }
  .table-contents {
    display: none !important;
  }
  .content-wrap .content-inner {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    padding: 92px 24px 40px 24px !important;
  }
  .content-wrap .content-inner.same-con {
    padding-top: 40px !important;
  }
  .content-wrap .content-inner h2 {
    font-size: 28px !important;
  }
  .content-wrap .content-inner h3 {
    font-size: 20px !important;
  }
  .content-wrap .content-inner p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #646464;
    margin-top: 12px;
    font-family: "IBM Plex Sans", sans-serif;
  }
  .content-wrap .content-img {
    width: 88%;
  }
  .content-wrap .content-img img {
    width: 100%;
    object-fit: cover;
  }
}
.before_load .loading {
  opacity: 1;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: #FFFFFF;
  opacity: 0;
  transition: 0.5s;
}
.loading .loading_circle {
  width: 54px;
  height: 54px;
  animation: loading_spin 3s infinite;
}
.loading .loading_circle circle {
  stroke: #0F6BFF;
  stroke-width: 4;
  stroke-dasharray: 157;
  stroke-dashoffset: -157;
  fill: none;
  animation: loading 1s infinite;
}

body {
  color: #0B0B0B;
  line-height: 1.2;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
  word-wrap: break-word;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  outline: none !important;
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  height: 100%;
  background: #0B0B0B;
}
.main .top-visual {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 1s ease;
  background: #0B0B0B;
  overflow-y: hidden;
  overflow-x: hidden;
}
.main .top-visual .wave-txt {
  display: flex;
  flex-direction: column;
}
.main .top-visual .wave-txt .reverse {
  animation: wave_reverse 40s infinite linear !important;
}
.main .top-visual .wave-txt .reverse h1 {
  color: #c2aef5 !important;
}
.main .top-visual .wave-txt .reverse h1 em {
  display: block;
  height: fit-content;
}
.main .top-visual .wave-txt .wave {
  position: relative;
  display: flex;
  flex-shrink: 0;
  animation: wave 40s infinite linear;
  width: 100%;
}
.main .top-visual .wave-txt .wave h1 {
  font-family: "Anton", sans-serif;
  font-size: 22vh;
  font-weight: 500;
  text-transform: uppercase;
  transition: 1s ease 0.3s;
  position: relative;
  top: 0;
  white-space: nowrap;
  margin: 0;
  line-height: 0.9;
  color: #edb4eb;
}
.main .top-visual .wave-txt .wave h1 em {
  display: block;
  height: fit-content;
}
.main .top-visual .kv-sticker {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
}
.main .top-visual .kv-sticker .sticker {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16px);
  border-radius: 28px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.main .top-visual .kv-sticker .sticker h2 {
  font-size: 8vw;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
}
.main .top-visual .kv-sticker .obj1 {
  width: 15vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-15deg);
  position: absolute;
  left: 6vw;
  top: 13vh;
}
.main .top-visual .kv-sticker .obj2 {
  width: 38vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(15deg);
  position: absolute;
  left: 40vw;
  top: 30vh;
}
.main .top-visual .kv-sticker .obj3 {
  width: 19vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(30deg);
  position: absolute;
  left: 71vw;
  top: 14vh;
}
.main .top-visual .kv-sticker .obj4 {
  width: 23vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-30deg);
  position: absolute;
  left: 38vw;
  top: 55vh;
}
.main .top-visual .kv-sticker .obj5 {
  width: 31vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-50deg);
  position: absolute;
  left: 3vw;
  top: 48vh;
}
.main .top-visual .kv-sticker .obj6 {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-40deg);
  position: absolute;
  left: 19vw;
  top: 24vh;
  background-color: #cbfc55;
  color: white;
  border-radius: 999px;
}
.main .top-visual .kv-sticker .obj6 .arrow-next {
  animation: arrow-next 2.2s infinite ease-in-out;
  color: #0B0B0B;
}
.main .top-visual .kv-sticker .obj6 .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 24;
  width: 80px;
  height: 80px;
  font-size: 80px;
}
.main .top-visual .kv-sticker .obj7 {
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(0deg);
  position: absolute;
  left: 64vw;
  top: 52vh;
  background-color: #0B0B0B;
  color: white;
  border-radius: 999px;
}
.main .top-visual .kv-sticker .obj7 .arrow-next {
  animation: arrow-next 2.2s infinite ease-out;
  color: #cbfc55;
}
.main .top-visual .kv-sticker .obj7 .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 24;
  width: 120px;
  height: 120px;
  font-size: 120px;
}
.main .thum-container {
  width: 100%;
  height: 100%;
  padding: 60px 16px;
}
.main .thum-container .thum-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.main .thum-container .thum-area .rows {
  display: flex;
  justify-content: center;
}
.main .thum-container .thum-area .rows:last-child {
  margin-bottom: 0;
}
.main .thum-container .thum-area .rows .thum-item {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  margin-bottom: 16px;
}
.main .thum-container .thum-area .rows .thum-item:last-child {
  margin-right: 0;
}
.main .thum-container .thum-area .rows .thum-item .thum-con {
  transition: all 0.2s ease-out;
}
.main .thum-container .thum-area .rows .thum-item .thum-con .thum-img {
  width: 100%;
  background-size: contain;
  overflow: hidden;
  transition: all 0.2s ease-out;
  position: relative;
}
.main .thum-container .thum-area .rows .thum-item .thum-con .thum-img img {
  width: 100%;
  height: 100%;
  opacity: 1;
  background-size: contain;
  vertical-align: bottom;
  transition: all 0.5s ease-out;
}
.main .thum-container .thum-area .rows .thum-item .thum-con .thum-img .into-img {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: -80px;
  z-index: 1;
  left: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 80px;
  padding: 16px;
  transition-property: all;
  transition-duration: 0.4s;
  transition-delay: 0.08s;
}
.main .thum-container .thum-area .rows .thum-item .thum-con .thum-img:hover .into-img {
  opacity: 1;
  bottom: 0 !important;
}
.main .thum-container .thum-area .rows .thum-item .thum-con .thum-text {
  display: none;
  padding: 16px;
}
.main .thum-container .thum-area .rows .thum-item .thum-con .thum-text h4 {
  color: white;
  font-size: 20px;
  margin-bottom: 4px;
}
.main .thum-container .thum-area .rows .thum-item .thum-con .thum-text span {
  color: white;
  font-size: 14px;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}
.footer p {
  font-size: 14px;
}
.footer p.dark {
  color: #C9C9C9;
}
.footer p.light {
  color: #545454;
}

.con {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.con div {
  opacity: 0;
}
.con .section_on {
  opacity: 1 !important;
  transform: translateZ(0) !important;
  transition: transform 1.5s, opacity 1.5s !important;
}
.con .top-visual {
  width: 100%;
  height: 100vh;
  background: #0B0B0B;
  display: flex;
  justify-content: center;
}
.con .top-visual .link-area {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 5;
  width: 172px;
  height: 41px;
}
.con .top-visual .out-link {
  padding: 8px 24px;
  position: fixed;
  bottom: 0;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-out;
}
.con .top-visual .out-link span {
  font-size: 14px;
  color: #212121;
  margin-right: 8px;
}
.con .top-visual .out-link svg {
  transition: all 0.2s ease-out;
}
.con .top-visual .out-link:hover svg {
  transform: translateX(5px);
}
.con .top-visual .hero-pc {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.con .top-visual .hero-mo {
  display: none;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.con .top-visual .blue {
  background: #0F6BFF;
  width: 100%;
  height: 100%;
}
.con .top-visual .blue span {
  color: white;
  font-size: 60px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
}
.con .top-visual .blue span.main_text {
  margin-right: 24px;
}
.con .top-visual .blue ul {
  display: flex;
  flex-direction: column;
  font-size: 60px;
  font-weight: 600;
  color: white;
  height: 78px;
  overflow: hidden;
  padding-top: 5px;
}
.con .top-visual .blue ul li {
  animation: change 10s infinite;
  margin-bottom: 10px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
}
.con .top-visual img {
  height: 100%;
  width: 100%;
  background-size: contain;
  object-fit: cover;
}
.con .sec-detail {
  max-width: 1024px;
  padding: 92px;
  position: relative;
  transition: all 0.2s ease-out;
}
.con .sec-detail.headline:after {
  content: "";
  position: absolute;
  left: 92px;
  bottom: 0;
  right: 92px;
  z-index: 5;
  height: 1px;
  background-color: #E2E2E2;
}
.con .sec-detail .title {
  max-width: 1024px;
  min-width: 1024px;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -2px;
  color: #212121;
  word-break: keep-all;
  white-space: pre-line;
}
.con .sec-detail h4 {
  font-size: 44px;
  font-weight: 400;
  color: #212121;
  max-width: 1024px;
}
.con .sec-detail p {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
  margin-top: 24px;
  line-height: 1.6;
}
.con .sec-detail span {
  font-size: 14px;
  font-weight: 400;
  color: #212121;
}
.con .sec-detail .summary {
  display: flex;
  margin-top: 40px;
  min-height: 78px;
  flex-wrap: wrap;
}
.con .sec-detail .summary dl {
  padding-right: 4%;
  width: 33.3%;
  margin-top: 24px;
}
.con .sec-detail .summary dl:nth-child(3) {
  padding-right: 0;
}
.con .sec-detail .summary dl:nth-child(6) {
  padding-right: 0;
}
.con .sec-detail .summary dl dt {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.1px;
  line-height: 24px;
  color: #888888;
  vertical-align: top;
}
.con .sec-detail .summary dl dd {
  font-weight: 400;
  display: flex;
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.4;
}
.con .sec-detail .summary dl dd span {
  min-width: 28px;
  max-width: 28px;
  margin-right: 8px;
}
.con .sec-detail .summary dl dd span img {
  min-width: 28px;
  max-width: 28px;
}
.con .sub-img {
  width: 100%;
  height: 100vh;
  transition: all 0.2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.con .sub-img.black {
  background: #0B0B0B;
}
.con .sub-img img {
  height: 100%;
  background-size: contain;
}
.con .detail-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.con .detail-img img {
  background-size: contain;
  width: 100%;
  height: 100%;
}
.con .full-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.con .full-img img {
  background-size: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.con .more-projects {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 80px;
  transition: all 0.2s ease-out;
}
.con .more-projects .other-project {
  display: flex;
  flex-direction: column;
  width: 50%;
  transition: all 0.2s ease-out;
}
.con .more-projects .other-project.next {
  align-items: flex-start;
}
.con .more-projects .other-project.prev {
  align-items: flex-end;
}
.con .more-projects .other-project .text-direction {
  display: flex;
  align-items: center;
}
.con .more-projects .other-project .text-direction svg {
  color: #333333;
  width: 24px;
  height: 24px;
  transition: all 0.2s ease-out;
}
.con .more-projects .other-project .text-direction h5 {
  font-size: 16px;
  font-weight: 400;
  color: #212121;
}
.con .more-projects .other-project .text-direction h5.pre-text {
  margin-right: 12px;
}
.con .more-projects .other-project .text-direction h5.next-text {
  margin-left: 12px;
}
.con .more-projects .other-project h4 {
  font-size: 20px;
  font-weight: 300;
  color: #212121;
  margin-top: 8px;
}
.con .more-projects .other-project h4.pre-project-name {
  margin-right: 35px;
}
.con .more-projects .other-project h4.next-project-name {
  margin-left: 35px;
  text-align: right;
}
.con .more-projects .next:hover .text-direction svg.next-svg {
  transform: translateX(-5px);
}
.con .more-projects .next:hover h4 {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #212121;
  text-decoration-thickness: 1px;
}
.con .more-projects .prev:hover .text-direction svg.pre-svg {
  transform: translateX(5px);
}
.con .more-projects .prev:hover h4 {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #212121;
  text-decoration-thickness: 1px;
}
.con .table-contents {
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 1780px;
  margin: 0 auto;
  transition: all 0.2s ease-out;
  z-index: 1;
}
.con .table-contents .contents-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  right: 0;
  flex-direction: column;
  top: 60px;
}
.con .table-contents .contents-container a {
  color: #0B0B0B;
  font-size: 14px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 20px;
  border-left: 2px solid #C9C9C9;
}
.con .table-contents .contents-container a:hover {
  color: #0F6BFF;
  font-weight: 700;
  border-left: 2px solid #0F6BFF;
}
.con .table-contents .contents-container a.active {
  color: #0F6BFF;
  font-weight: 700;
  border-left: 2px solid #0F6BFF;
}
.con .content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.con .content-wrap.gray {
  background: #FAFAFA;
}
.con .content-wrap .content-inner {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  padding: 92px 92px 60px 92px;
}
.con .content-wrap .content-inner h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -2px;
  color: #212121;
  font-family: "IBM Plex Sans", sans-serif;
}
.con .content-wrap .content-inner h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -2px;
  color: #212121;
  margin-top: 24px;
  font-family: "IBM Plex Sans", sans-serif;
}
.con .content-wrap .content-inner p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #646464;
  margin-top: 12px;
  font-family: "IBM Plex Sans", sans-serif;
}
.con .content-wrap .content-img {
  max-width: 1024px;
  display: flex;
  align-items: center;
}
.con .content-wrap .content-img img {
  width: 100%;
  object-fit: cover;
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 92px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: all 0.5s ease;
  z-index: 10;
}
.header.hidden {
  top: -60px;
}
.header.white-bg {
  background-color: white;
}
.header.white-bg .go-home {
  color: #212121 !important;
}
.header .go-home {
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  color: white;
}

.gototop {
  width: 52px;
  height: 52px;
  background: rgba(11, 11, 11, 0.7);
  border: none;
  border-radius: 999px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 998;
}
.gototop.show {
  opacity: 1;
}
.gototop svg path {
  fill: white;
}